body {
    font-family: 'Manropet', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}
.container {
    width: 375px;
    height: 812px;
    background-color: #F4F6FA;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}
.header {
    width: 375px;
    height: 72px;
    position: relative;
    z-index: 1;
}
.header img {
    position: absolute;
    z-index: -1;
}
.btnBox {
    width: 120px;
    height: 20px;
    padding: 26px;
    margin-left: 227px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.photo{
    margin: -71px;
    margin-left: 0px;
    display: block;
}
.photo2{
    margin: -71px;
    margin-left: 0px;
    display: none;
}
.moon{
    margin: 0px 86px;
    display: block;
}
.sun{
    width: 16px;
    height: 16px;
    margin: 0px 18px;
    display: block;
}
.moon2{
    margin: 0px 86px;
    display: none;
}
.sun2{
    width: 16px;
    height: 16px;
    margin: 0px 18px;
    display: none;
}
.btn {
    width: 32px;
    height: 20px;
    margin-left: 44px;
    border-radius: 999px;
    position: relative;
    color: #fff;
    background-color: #A729F5;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: background-color 0.3s ease;
}
.btn .circle {
    position: absolute;
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}
body.darkened .container{
    background-color: #313E51;
}
body.darkened .btn{
    background-color: #A729F5;
}
body.darkened .photo2{
    color: #222a36;
    display: block;
}
body.darkened .Btn{
    background-color: #3B4D66;
    color: white;
}
body.darkened .text h2{
    color: white;
}
body.darkened .text h1{
    color: white;
}
body.darkened .text p{
    color: #ABC1E1;
}
body.darkened .Btn:hover {
    background-color: #17101b; 
}
body.darkened .sun2 {
    display: block;
}
body.darkened .moon2 {
    display: block;
}
.bodyText{
    width: 375px;
    height: 740px;
}
.text{
    width: 327px;
    height: 125px;
    margin: 32px 24px 40px;
}
.text h2{
    font-size: 40px;
    font-weight: 300;
    color: #313E51;
}
.text h1{
    font-size: 43px;
    font-weight: 500;
    color: #313E51;
    margin-top: -30px;
}
.text p{
    margin-top: -22px;
    font-size: 14px;
    font-style: italic;
    color: #626C7F;
}
.buttons {
    display: flex;
    flex-direction: column; 
    width: 327px;
    height: 292px;
    margin: 40px 24px;
}
.Btn {
    display: flex;
    align-items: center;  
    background-color: white;
    border: none;
    cursor: pointer;
    width: 327px;
    height: 64px;
    padding-left: 68px;
    margin-bottom: 12px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
} 
.Btn img {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1;
    margin-left: -56px;
    margin-right: 12px;
}
.Btn:hover {
    background-color: #e5cbf5; 
}
.next-btn {
    display: inline-block;
    background-color: #A729F5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  .next-btn:hover {
    background-color: #7a1fb2;
  }
  